.divClass h1 {
    color: rgb(255, 102, 0);
}
img {
    width: 400px;
}
#thirdDiv{
    width: 500px;
    height: 600px;
    color: green;
    padding: 50px;
    border: 2px black dotted;
    background: rgb(228, 223, 223);
}
#span{
    font-size: 18px;
    margin: 50px;
}